@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
